{% extends 'myadmin/base/layout.html' %}

<!-- fields = ('fname','lname','gender','birth_date','email','contact_no','avatar','liscence_no') -->
{% block inner_title %}
    Edit Driver
{% endblock inner_title %}
{% load static %}
{% block inner_content %}
<div class="shadow-lg p-3 mb-2 bg-body rounded" id="main_content">
            <h3 class="rounded p-2 text-center border">Vehicle Controller Updation</h3>
            {% for message in messages %}
            <div class="alert alert-info">
                {{message}}
            </div>
            {% endfor %}
            
                <div class="row mt-4">


                    <div class="col-5 p-2">
                            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col">
                                {{form.fname.label_tag}}
                                {{form.fname}}
                            </div>
                            <div class="col">
                                {{form.lname.label_tag}}
                                {{form.lname}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{form.gender.label_tag}}
                                {{form.gender}}
                            </div>
                            <div class="col">
                                {{form.birth_date.label_tag}}
                                {{form.birth_date}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{form.email.label_tag}}
                                {{form.email}}
                            </div>
                            <div class="col">
                                {{form.contact_no.label_tag}}
                                {{form.contact_no}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{form.status.label_tag}}
                                {{form.status}}
                            </div>
                            <div class="col">
                                {{form.liscence_no.label_tag}}
                                {{form.liscence_no}}
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{form.latitude.label_tag}}
                                {{form.latitude}}
                            </div>
                            <div class="col">
                                {{form.longitude.label_tag}}
                                {{form.longitude}}
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{form.address.label_tag}}
                                {{form.address}}
                            </div>
                            <div class="col">
                                {{form.avatar.label_tag}}
                                {{form.avatar}}
                                <a href="{{driver.avatar.url}}">
                                    <small>see image</small>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                            {{form.online.label_tag}}
                            {{form.online}}
                            {{form.active.label_tag}}
                            {{form.active}}
                        </div>
                        </div>
                        <button type="submit" class="btn btn-info text-light">Update</button>
                        </form>
                    </div>
                    <div class="col-7 p-2">
                         <div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">Search Address</span>
                      <input type="text" class="form-control" placeholder="write address and enter" id="id_search" required>
                    </div>
                </div>
                        <div id="map" style="height:500px;">
                            
                        </div>

                    </div>
                </div>
            
</div>
{% endblock inner_content %}
{% block js_content %}
    <script src="{% static 'js/myadmin.js' %}"></script>
    <script src="{% static 'js/show_map.js' %}" type="text/javascript"></script>
{% endblock js_content %}